body{
    margin: 0;
    font-family: "Italiana", sans-serif;
}

.nav-bar{
    margin: 0 0 0 auto;
    display: flex;
    justify-content: flex-end;
}

.nav-menu{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-top: 10px;
    font-weight: 400;
    font-style: normal;
}

.nav-item{
    margin-left: 25px;
    max-width: 100%;
}

.nav-item a{
    font-size: 24px;
    text-decoration: none;
}

@media screen and (max-width: 720px) {
    .nav-item a{
        font-size: 12px;
    }
}

.sns-icon{
    margin-top: 10px;
    margin-left: 25px;
    text-align: center;
    width: fit-content;
}

.sns-icon img{
    width: 30px;
    object-fit: contain;
}

.sns-icon:nth-child(3){
    margin-right: 25px;
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 10px 0;
    background: linear-gradient(45deg, #696969, black);
    color: white;
}

footer .footer-img{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-img img{
    width: 30%;
}

footer .footer-content{
    width: 50%;
}

footer .footer-content ul{
    list-style: none;
    padding: 0;
}

footer .footer-content li:nth-child(1){
    word-break: auto-phrase;
}

@media screen and (max-width: 720px) {
    footer{
        flex-direction: column;
    }

    footer .footer-img{
        width: 100%;
        text-align: center;
    }
    
    footer .footer-img img{
        width: 30%;
    }
    
    footer .footer-content{
        width: 90%;
        margin: auto;
    }

    footer .footer-content h3{
        font-size: 22px;
        font-weight: 500;
        margin-top: 20px;
    }
}