body{
    padding-top: 70px;
}

.nav-bar{
    border-bottom: 1px solid grey;
    background: #f6f6f6;
    z-index: 2;
}

.nav-bar a{
    color: black;
}

.sns-icon:nth-child(2){
    background: black;
    border-radius: 5px;
}

main{
    min-height: 100vh;
    display: flex;
}



.example-header{
    height: fit-content;
    width: 100%;
    background-color: white;
}

.swiper-container{
    width: 100%;
    overflow-x: hidden;
    position: relative;
    padding: 30px 0;
}

.swiper-container .swiper-wrapper{
    width: 50%;
}

.swiper-container .swiper-wrapper .swiper-slide{
    display: flex;
    justify-content: center;
}

.swiper-container .swiper-wrapper .swiper-slide a{
    display: inline-block;
    width: 85%;
}

.swiper-container .swiper-wrapper .swiper-slide img{
    width: 100%;
    object-fit: contain;
    border-radius: 15px;
}

#prev,#next{
    transform: translateY(50%);
    top: 45%;
    color: wheat;
}

#pagination{
    bottom: 10%;
}

#pagination span{
    background: #f6f6f6;
}

.swiper-container .swiper-wrapper .swiper-button-next{}

.container{
    margin: 0 200px;    
    display: flex;
    padding-top: 20px;
}

main .sidebar ul{
    list-style: none;
    margin: 0 ;    
}

main .sidebar select{
    display: none;
}

main .sidebar ul li:nth-child(1) h3{
    font-size: 18px;
    white-space: nowrap;
}

main .sidebar ul li:not(main .sidebar ul li:nth-child(1)){
    margin-top: 15px;
    /* display: flex; */
}

main .sidebar ul li:not(main .sidebar ul li:nth-child(1)) a{
    text-decoration: none;
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    transition: background-color 1s ease;
    padding: 5px 0;
    height: 100%;
    width: 100%;
}

main .sidebar ul li:not(main .sidebar ul li:nth-child(1)) a::after{
    content: ">";
    margin: 0 0 0 10px;
}

main .sidebar ul li:not(main .sidebar ul li:nth-child(1)) a:hover{
    background-color: rgba(83, 83, 83, 0.5)   
}

.example-content{
    width: 100%;
    margin-left: 15px;
}

.example-content h3{
    font-size: 20px;
}

.example-content div{
    margin-bottom: 30px;
}

.example-content .example-cards{
    width: 100%;
    overflow-x: scroll;
    background: white;
    border-radius: 15px;
    position: relative;
}

.example-content .example-cards::-webkit-scrollbar {
    display: none; 
}

.example-content .example-cards ul{
    list-style: none;
    display: flex;
    padding: 15px 15px 0 15px;
}

.example-cards .example-card{
    display: flex;
    flex-direction: column;
}

.example-cards .example-card img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.example-cards .example-card img:hover{
    opacity:0.5;
    filter:alpha(opacity=50);
    -ms-filter: “alpha( opacity=50 )”;
}

.example-cards .example-card .example-card-content{
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.example-content .example-cards .prev,.example-content .example-cards .next{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    font-size: 30px;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    font-weight: 900;
}

.example-content .example-cards .prev{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.example-content .example-cards .next{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.example-cards .example-card .example-card-content p{
    margin-bottom: 2px;
    font-family: "Nanum Gothic", sans-serif;
    font-style: normal;
}

.example-cards .example-card .example-card-content p:nth-child(1){
    font-weight: 700;
}

.example-cards .example-card .example-card-content p:nth-child(2),.example-cards .example-card .example-card-content p:nth-child(3){
    font-weight: 300;
}

@media screen and (max-width: 728px) {
    body {
        padding: 50px 5px;
    }

    main {
        margin: 0;
    }   

    .swiper-container .swiper-wrapper .swiper-slide a {
        width: 100%;
    }

    main .sidebar ul {
        display: none;
    }

    main .sidebar select{
        display: block;
    }

    .example-content{
        margin-left: 0;
    }

    .container{
        flex-direction: column;
    }
}
